<header class="navbar bg-primary">
    <h1 class="navbar-brand">Editing Item</h1>
</header>

<%= render 'form', item: @item %>

<%= link_to 'Show', @item, {class: "btn btn-success"} %>
<%= link_to 'Back', items_path, {class: "btn btn-primary"} %>
