html, body, .container{
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

table{
	background-color: rgb(255, 220, 0);
}

textarea{
	height: 5em;
	width: 25em;
}

h3{
	text-align: center;
}